$font-size: 1.08rem !default;
$font-color: #282828 !default;
$background: #fff !default;
$link-color: #f38f37 !default;
$highlight-color: #e69524 !default;
$primary-color: #e69423 !default;
$secondary-color: #fdf4e8 !default;
$secondary-color-soft: #eba94f !default;